# Basics
- variable
- input
- output

In [3]:
x = 1.90
y = "lucknow"

In [5]:
a = [1, 2, 3, 4]
b = {'name': 'raju', 'age': 12}

In [6]:
x

1.9

In [10]:
name = input("enter your name")

In [11]:
city = input("enter your city")
fav_movie = input("enter your fav movie")
fav_color = input("enter yout fav color")

In [12]:
num1 = input("enter a number A")
num2 = input("enter a number B")

## displaying data

In [4]:
print('Welcome to Displaying Data') # static message to display

Welcome to Displaying Data

In [5]:
a = 'Alex'
b = 'Baron'
print(a) # print the value of a
print(b) # print the value of b

Alex
Baron

In [7]:
name = input('enter your name')
print('Your name is', name)

Your name is Baron

In [8]:
num1 = input('enter a number')
num2 = input('enter another number')
print('First Number is', num1)
print('Second Number is', num2)

First Number is 25
Second Number is 40

'displaying data with messages'

1. comma seperated
2. format string
3. format function
4. string concatenation
5. f-string

In [10]:
# format string
a, b, c = 5, 3.2, "Hello" # multiple assignment
print("the values are %d, %f, %s" % (a, b, c))
print("the values are %s, %d, %f" % (c, a, b))
print("the values are %s, %s, %s" % (c, a, b))

the values are 5, 3.200000, Hello
the values are Hello, 5, 3.200000
the values are Hello, 5, 3.2

In [11]:
# format method
a, b, c = 5, 3.2, "Hello" # multiple assignment
print(' the value of a={}, b={}, c={}' .format(a, b, c))

 the value of a=5, b=3.2, c=Hello

In [12]:
# string concatenation
print('Hello ' + 'World')
print('the value of a=' + str(a))
print('the value of c=' + c)
print('the value of b=' + str(b))

Hello World
the value of a=5
the value of c=Hello
the value of b=3.2

In [14]:
print('the value of a=' + str(a), 'b=' + str(b), 'c=' +c)

the value of a=5 b=3.2 c=Hello

In [15]:
# f-string
print(f' the value of a={a}, b={b}, c={c}')

 the value of a=5, b=3.2, c=Hello

# f-string settings

In [18]:
# formatting values
a,b = 10,3
print(f'{a}/{b} = {a/b}')
print(f'{a}/{b} = {a/b:.2f}') # .2f = 2 deccimal places

10/3 = 3.3333333333333335
10/3 = 3.33

In [20]:
# alignment
name = 'Alex'
print(f'You are {name}')
print(f'You are {name:10}') # 10 here is number of characters for display
print(f'You are {name:>10}') # right alignment
print(f'You are {name:^10}') # center alignment
print(f'You are {name:^50}') # center alignment

You are Alex
You are Alex
You are       Alex
You are    Alex
You are                        Alex

In [23]:
# right alignment
a,b,c,d = 'Apple', 'Blueberry', 'Cherry', 'Dragonfruit'
print(f'🍎fruit 1: {a:>11}')
print(f'🍇fruit 2: {b:>11}')
print(f'🍒fruit 3: {c:>11}')
print(f'🍉fruit 4: {d:>11}')

🍎fruit 1:       Apple
🍇fruit 2:   Blueberry
🍒fruit 3:      Cherry
🍉fruit 4: Dragonfruit