- list
- `creating`
- `indexing and slicing(same as string)`
- `methods`
- `comprehension`

In [1]:
a = []                                                        # empty list
b = [1,2,3,4,]                                                
c = ['apple', 'banana', 'cherry']
d = ['apple', 1, 'banana', 2, 'cherry', 3]
e = [[1,2,3,], [4,5,6], [7,8,9]]
f = [['apple', 1], ['banana', 2], ['cherry', 3, 120]]
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['apple', 'banana', 'cherry']
['apple', 1, 'banana', 2, 'cherry', 3]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[['apple', 1], ['banana', 2], ['cherry', 3, 120]]

In [2]:
for i in c:
    print(i)
for i in d:
    print(i)
for i in e:
    print(i)
for i in f:
    print(i)

apple
banana
cherry
apple
1
banana
2
cherry
3
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
['apple', 1]
['banana', 2]
['cherry', 3, 120]

In [3]:
g = list('hello')
h = list(range(10))
i = list((1,2,3,4,5))
j = [1,2,3] * 5               # duplicated list
print(g)
print(h)
print(i)
print(j)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [4]:
movies = ['Kung Fu Panda', 'Wish Dragon', 'The Croods', 'Moana', 'Invincible']
print(movies)
print(len(movies))
print("first movie: ",movies[0])
print("last movie: ",movies[-1])
print("second movie: ",movies[1])
print("third movie: ",movies[2])

['Kung Fu Panda', 'Wish Dragon', 'The Croods', 'Moana', 'Invincible']
5
first movie:  Kung Fu Panda
last movie:  Invincible
second movie:  Wish Dragon
third movie:  The Croods

In [6]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[:3]) # 0,1,2
print(numbers[-3:]) # 8,9,10
print(numbers[2:-2]) # 3,4,5,6,7,8
print(numbers[::-1])

[1, 2, 3]
[8, 9, 10]
[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## list methods (11)
- adding/updating
 - `append()`
 - `extend()`
 - `insert()`
- removing/deleting
 - `remove()`
 - `pop()`
 - `clear()`
- utility
 - `sort()`
 - `reverse()`
 - `index()`
 - `count()`
 - `copy()`

In [7]:
fav_books = []
hated_books = []
for i in range(5):
    book = input("Enter your favorite book: ")
    fav_books.append(book)
for i in range(3):
    book = input("Enter your hated book: ")
    hated_books.append(book)
print("Favorite books: ", fav_books)
print("Hated books: ", hated_books)

Favorite books:  ['The final empire, Hero of ages, Words of radiance, oathbringer, Way of the Kings', '', 'hero of ages', 'Words of radiance', 'oathbringer']
Hated books:  ['Way of the Kings', 'New Moon', 'Harry Potter and the Goblet of fire']

In [8]:
hated_books.append("Julius Ceasar") # add to the end
print(hated_books)

['Way of the Kings', 'New Moon', 'Harry Potter and the Goblet of fire', 'Julius Ceasar']

In [9]:
# merge two lists and create a new list
books = fav_books + hated_books
print(books)

['The final empire, Hero of ages, Words of radiance, oathbringer, Way of the Kings', '', 'hero of ages', 'Words of radiance', 'oathbringer', 'Way of the Kings', 'New Moon', 'Harry Potter and the Goblet of fire', 'Julius Ceasar']

In [10]:
# adding a list to the existing list
books.extend(['Legion', 'Rithmatist', 'Steelheart'])
print(books)
print('total books: ', len(books))

['The final empire, Hero of ages, Words of radiance, oathbringer, Way of the Kings', '', 'hero of ages', 'Words of radiance', 'oathbringer', 'Way of the Kings', 'New Moon', 'Harry Potter and the Goblet of fire', 'Julius Ceasar', 'Legion', 'Rithmatist', 'Steelheart']
total books:  12

In [11]:
books.append(['Diary of a Wimpy Kid', 'Harry Potter']) # nesting
print(books)

['The final empire, Hero of ages, Words of radiance, oathbringer, Way of the Kings', '', 'hero of ages', 'Words of radiance', 'oathbringer', 'Way of the Kings', 'New Moon', 'Harry Potter and the Goblet of fire', 'Julius Ceasar', 'Legion', 'Rithmatist', 'Steelheart', ['Diary of a Wimpy Kid', 'Harry Potter']]

In [12]:
books.insert?

Signature: books.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [13]:
books.insert(3, 'Harry')
print(books)

['The final empire, Hero of ages, Words of radiance, oathbringer, Way of the Kings', '', 'hero of ages', 'Harry', 'Words of radiance', 'oathbringer', 'Way of the Kings', 'New Moon', 'Harry Potter and the Goblet of fire', 'Julius Ceasar', 'Legion', 'Rithmatist', 'Steelheart', ['Diary of a Wimpy Kid', 'Harry Potter']]

In [15]:
books[10] = 'Pygmalion' # replace at index 10

In [14]:
books.remove?

Signature: books.remove(value, /)
Docstring:
Remove first occurrence of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [16]:
books.remove("Rithmatist") # remove by value

In [17]:
books.pop(6) # remove by index

'Way of the Kings'

In [18]:
books.pop() # remove last element

['Diary of a Wimpy Kid', 'Harry Potter']

In [19]:
hated_books.clear() # remove all the elements
hated_books

[]

# wap to create an empty list, then fill the list with 10 prime numbers using a loop, starting with 2

In [1]:
numbers = [12,3,67,1,2,6,78,23,5,67,2]
# reverse
a = numbers[::-1] # gives the result but doesn't change the original list

In [2]:
numbers.reverse() # changes the original list

In [4]:
print(numbers)

[2, 67, 5, 23, 78, 6, 2, 1, 67, 3, 12]

In [5]:
numbers.sort() # ascending order, changes the original list
print(numbers)
numbers.sort(reverse=True) # descending order
print(numbers)

[1, 2, 2, 3, 5, 6, 12, 23, 67, 67, 78]
[78, 67, 67, 23, 12, 6, 5, 3, 2, 2, 1]

In [6]:
x = [[1,12], [2,5], [5,10], [4,15]]
x.sort() # sort by first element of each sublist
print(x)

[[1, 12], [2, 5], [4, 15], [5, 10]]

In [7]:
x.sort(key = lambda e: e[1])
print(x)

[[2, 5], [5, 10], [1, 12], [4, 15]]

In [9]:
x.sort(key = lambda i: sum(i))
print(x)

[[2, 5], [1, 12], [5, 10], [4, 15]]

In [19]:
users = [('Alice', 25), ('Bob', 19), ('Alex', 35)]
users.sort
print(users)

[('Alice', 25), ('Bob', 19), ('Alex', 35)]

In [12]:
users = [('Alice', 25), ('Bob', 19), ('Alex', 35)]
users.sort(key = lambda e: e[1])
print(users)

[('Bob', 19), ('Alice', 25), ('Alex', 35)]

In [13]:
cart = [
    ['mobile', 25000, 2],
    ['laptop', 60000, 1],
    ['watch', 3000, 3],
    ['headphones', 1500, 2]
]
cart.sort(key = lambda e: e[2])
print(cart)

[['laptop', 60000, 1], ['mobile', 25000, 2], ['headphones', 1500, 2], ['watch', 3000, 3]]

In [14]:
cart = [
    ['mobile', 25000, 2],
    ['laptop', 60000, 1],
    ['watch', 3000, 3],
    ['headphones', 1500, 2]
]
cart.sort(key = lambda e: e[1] * e[2]) # according to total price
print(cart)

[['headphones', 1500, 2], ['watch', 3000, 3], ['mobile', 25000, 2], ['laptop', 60000, 1]]

In [15]:
a = [1,2,3,1,1,2,2,3,4,4,5,5,2,1,1,1,1,0]
print("1 occurs:",a.count(1))
print("5 occurs:",a.count(5))
print("10 occurs:",a.count(10))

1 occurs: 7
5 occurs: 2
10 occurs: 0

In [16]:
numbers.index(12) # gives the index of 12 (first occurance)

4

In [18]:
a = [1,2,3,4,5]
b = a.copy() # shallow copy (new list with same elements)
c = a        # reference copy (both a and c refer to same list)
print(a)
print(b)
print(c)
a.append(6)
b.append(10)
c.append(20)
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 20]
[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 6, 20]

### comprehension

In [ ]:
# syntax
new_list = [opration loop(condition)]

In [22]:
a = [1,2,3,4,5]
a3 = [i**3 for i in a]
print(a)
print(a3)
a5 = [i-5 for i in a]
print(a5)
aeven2 = [i**2 for i in a if i%2==0]
print(aeven2)

[1, 2, 3, 4, 5]
[1, 8, 27, 64, 125]
[-4, -3, -2, -1, 0]
[4, 16]

In [ ]:
# rookie way
aodd2 = []
for i in a:
    if i%2!=0:
        aodd2.append(i**2)
# pythonic way
aeven2 = [i**2 for i in a if i%2==0]
print(aeven2)
# map and filter
# aodd2 = list(map(lambda i: i**2, filter(lambda i: i%2!=0, a))) # not good

In [27]:
names = ['Alice Smith', 'Bob Brown', 'Charlie Green', 'David White']

initials = []
for n in names:
    initials.append(f"{n.split()[0][0]}{n.split()[1][0]}")
print(initials)

# comprehension
initials = [f"{n.split()[0][0]}{n.split()[1][0]}" for n in names]
print(initials)

['AS', 'BB', 'CG', 'DW']
['AS', 'BB', 'CG', 'DW']

# tupples
- creating
- indexing and slicing
- methods
- packing n unpacking

In [1]:
x = () # empty tupple
y = (1,) # single element tupple
z = (1,2,3,4,5) # multiple element tupple
print(x,y,z)
a = ((1,2), (3,4), (5,6)) # nested tupple
b = ('a', 1, 'b', 2, 'c', 3) # mixed tupple
c = (1,) * 5 # duplicated tupple
d = tuple('stormlight archives') # tupple from string
e = tuple(range(10)) # sequence to tuple
print(a)
print(b)
print(c)
print(d)
print(e)

() (1,) (1, 2, 3, 4, 5)
((1, 2), (3, 4), (5, 6))
('a', 1, 'b', 2, 'c', 3)
(1, 1, 1, 1, 1)
('s', 't', 'o', 'r', 'm', 'l', 'i', 'g', 'h', 't', ' ', 'a', 'r', 'c', 'h', 'i', 'v', 'e', 's')
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [3]:
print(e)
print(e[4::-1]) # -1 (step) makes this go in reverse order
print(e[4:])

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(4, 3, 2, 1, 0)
(4, 5, 6, 7, 8, 9)

In [11]:
# index (search) and count methods
fruits = ('apple', 'banana', 'cherry', 'apple', 'cherry')
print(fruits.index('apple'))
print(fruits.index('apple',1)) # search starts from index 1
print(fruits.count('apple')) # count the occurances of 'apple'
print(fruits.count('apple')) # count the occurances of 'apple'
print(fruits.count('banana')) # count the occurances of 'apple'
print(fruits.count('cherry')) # count the occurances of 'apple'

0
3
2
2
1
2

# packing

In [9]:
x = 1,2,3 # tuple packing
print(x)

(1, 2, 3)

In [7]:
def stats(*data):
    total = sum(data)
    avg = total / len(data)
    return total, round(avg,2) # round method to round off to 2 decimal places

In [8]:
s = stats(12,35,29,59,23,45)
print(s)

(203, 33.83)

In [10]:
a, b = 12, 45 # tuple unpacking
print(a,b)

12 45

In [12]:
# unpacking error (too many or not enough variables)

# a, b, c = 12, 45 # error
# a, b = 12, 45, 78 # error
# total, mean, max = stats(12, 35, 29, 59, 23, 45) # error

In [13]:
a, b, *c = (1,2,3,4,5,5,5) # c is a list
print(a)
print(b)
print(c)

1
2
[3, 4, 5, 5, 5]

In [14]:
a, *b, c = (1,2,3,4,5,5,5) # b is a list
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 5]
5

In [15]:
*a, b, c = (1,2,3,4,5,5,5) # a is a list
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
5
5

# set
- creating
- methods
- set operation
  - union
  - intersection
  - difference
  - symmetric difference'
  - issubset
  - issuperset

In [16]:
x = set() # empty set
y = {1,2,3,4,5} # set with elements
z = {1,2,2,2,3,3,4,4,5,5,5} # set removes duplicates
print(x)
print(y)
print(z)

set()
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [17]:
a = set('hello') # set from string
print(a)

{'o', 'h', 'l', 'e'}

In [20]:
b = set([23,5,45,65,45,12,45,6])
print(b)

c = set(range(10))
for i in c:
    print(i, end=' ')

{65, 5, 6, 12, 45, 23}
0 1 2 3 4 5 6 7 8 9

In [21]:
data = set() # empty set
data.add(12) # add element
data.add(2) # add element
data.add(12) # add element
data.add(5) # add element
print(data)

{2, 12, 5}

In [22]:
data.update([23,45,67,89]) # add multiple elements
print(data)

{2, 67, 5, 12, 45, 23, 89}

In [23]:
data.discard(23) # remove element
data.remove(45) # remove element (error if not present)
print(data)

{2, 67, 5, 12, 89}

In [24]:
data.pop() # remove random element
print(data)
data.clear() # remove all elements
print(data)

{67, 5, 12, 89}
set()

In [26]:
# operations
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {11,12,13}
print(a.union(b))
print(a | b) # | is union oprator

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [27]:
print(a.intersection(b))
print(a & b) # & is intersection operator

{4, 5}
{4, 5}

In [28]:
print(a.difference(b))
print(a - b) # - is difference operator
print(b - a) 
print(b.difference(a))

{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}

In [29]:
print(a.symmetric_difference(b))
print(a ^ b) # ^ is symmetric difference operator

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [30]:
print(a|c)
print(a&c)
print(a-c)
print(a^c)

{1, 2, 3, 4, 5, 11, 12, 13}
set()
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 11, 12, 13}

In [31]:
d = {1,2,3}
print(a.issuperset(b))
print(a.issuperset(c))
print(a.issuperset(d))

False
False
True

In [32]:
print(d.issubset(a))
print(d.issubset(b))
print(d.issubset(c))

True
False
False

In [33]:
print(a.isdisjoint(b))
print(a.isdisjoint(c))
print(a.isdisjoint(d))

False
True
False

# Conversion

In [34]:
a = [1,2,3,4,5]
a_set = set(a)
a_tuple = tuple(a)
print(a)
print(a_set)
print(a_tuple)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5)

In [35]:
a_list = list(a_set)
print(a_list)

[1, 2, 3, 4, 5]

In [36]:
x = [1,2,3,3,4,5,5,6,5,1,1,1,1,1]
print(x)
x = list(set(x)) # set -> remove duplicates -> list -> x
print(x)

[1, 2, 3, 3, 4, 5, 5, 6, 5, 1, 1, 1, 1, 1]
[1, 2, 3, 4, 5, 6]