- creating
- indexing and slicing
- methods
- tips n tricks

In [3]:
a = 'apple'
b = "apple"
c = '''this is
very usefull
in multiline messages
'''
d = str(8329)

In [5]:
# types of strings
# f-string
x = f'{a} is a fruit'
print(x)
# raw string
addr = r'c:\users\hashir\desktop'
print(addr)
# unicode string
uni = u'hello'
print(uni)
# byte string
byt = b'hello'
print(byt)

apple is a fruit
c:\users\hashir\desktop
hello
b'hello'

In [7]:
v = 'encyclopedia'
print(v[0]) # first index
print(v[1]) # second index
print(v[2]) # third index
print(v[11]) # last index
print(v[-1]) # last index
print(v[-12]) # first index
print('second last', v[-2])
print('sixth last', v[-6])

e
n
c
a
a
e
second last i
sixth last o

slicing in python
```
x[start : stop]

In [2]:
a = 'Encyclopedia'
print(len(a))
print(a[2:8]) # last index is not included

12
cyclop

In [4]:
name = 'Vijay Deenanath Chauhan'
firstname = name[0:5]
print(firstname)
middlename = name[6:15]
print(middlename)
lastname = name[16:23]
print(lastname)

Vijay
Deenanath
Chauhan

In [5]:
name[:5] # first 5 characters

'Vijay'

In [6]:
name[6:] # from 6th index to end

'Deenanath Chauhan'

In [7]:
name[16:] # from 16th index to end

'Chauhan'

In [8]:
msg = "Journey Before Destination"
msg[-11:]

'Destination'

In [10]:
msg = 'Once upon a time, there was a place called eternia'
msg[-7:]
msg[:16]

'Once upon a time'

In [11]:
amt = '$800999'
amt = int(amt[1:])
print(amt)

800999

In [12]:
msg[::2] # every 2nd character (even index)

'Oc pnatm,teewsapaecle tri'

In [15]:
msg[1::2] # every 2nd character (odd index)

'neuo  ie hr a  lc aldeena'

In [16]:
# most imp thing in slicing
msg[::-1] # reverse the string

'ainrete dellac ecalp a saw ereht ,emit a nopu ecnO'

In [17]:
msg[::-1][:5]

'ainre'

In [18]:
name[6:15][::-1]

'htananeeD'

String methods
- formatting
- validation
- find & replace
- etc.

In [24]:
quote = "All the glitter is not gold💛"
quote_upper = quote.upper()
print(quote)
print(quote_upper)
quote_lower = quote.lower()
print(quote_lower)
quote_capatalise = quote.capitalize()
print(quote_capatalise)
quote_swapcase = quote.swapcase()
print(quote_swapcase)
quote_title = quote.title()
print(quote_title)
quote_casefold = quote.casefold()
print(quote_casefold)

All the glitter is not gold💛
ALL THE GLITTER IS NOT GOLD💛
all the glitter is not gold💛
All the glitter is not gold💛
aLL THE GLITTER IS NOT GOLD💛
All The Glitter Is Not Gold💛
all the glitter is not gold💛

In [25]:
quote.ljust?

Signature: quote.ljust(width, fillchar=' ', /)
Docstring:
Return a left-justified string of length width.

Padding is done using the specified fill character (default is a space).
Type:      builtin_function_or_method

In [27]:
quote.rjust(50)

'                      All the glitter is not gold💛'

In [28]:
quote.center(50, '-')

'-----------All the glitter is not gold💛-----------'

In [29]:
quote.ljust(50)

'All the glitter is not gold💛                      '

In [31]:
name.isnumeric()

False

In [32]:
fname = input("enter ur name: (dont use numbers)")
if fname.isalpha():
    print("Valid name, very good")
else:
    print("What kind of name is this?")

Valid name, very good

In [34]:
# find and index methods for searching in strings
msg.find('place') # returns the index of the first occurance of the substring

30

In [38]:
data = '''This place is good,
I have gone to good place,
I have a place to go'''
print(data.find('place'))
print(data.find('place', 6)) # 6 is ths starting index for searching
print(data.find('Place')) # -1 means not found
print(data.lower().find('Place')) # -1 means not found
# reverse find
print(data.rfind('place')) # returns the index of the last occurance of the substring

5
40
-1
5
56

In [39]:
# replace method
data.replace('place','🌍')

'This 🌍 is good,\nI have gone to good 🌍,\nI have a 🌍 to go'

In [40]:
data.replace('o', 'a')

'This place is gaad,\nI have gane ta gaad place,\nI have a place ta ga'

In [41]:
data.replace('i', 'e').replace('k', 'c').replace('a', 'b')

'Thes plbce es good,\nI hbve gone to good plbce,\nI hbve b plbce to go'

In [42]:
data.replace(' ', '_', 3)

'This_place_is_good,\nI have gone to good place,\nI have a place to go'

- Split
- Join

In [1]:
fruits = input ("enter names of fruits")
print(len(fruits))
print(fruits)
fruitlist = fruits.split()
print(fruitlist)

26
apple banana cherry durian
['apple', 'banana', 'cherry', 'durian']

In [2]:
'This is some message'.split()

['This', 'is', 'some', 'message']

In [3]:
quote = "Life before death, strength before weakness, journey before destination"
quote.split(',')

['Life before death',
 ' strength before weakness',
 ' journey before destination']

In [4]:
quote.split('before')

['Life ', ' death, strength ', ' weakness, journey ', ' destination']

In [5]:
poem = '''Jonny Jonny, yes papa
eating sugar? no papa
telling lies? no papa
open your mouth, ha ha ha'''
poem.splitlines()

['Jonny Jonny, yes papa',
 'eating sugar? no papa',
 'telling lies? no papa',
 'open your mouth, ha ha ha']

In [6]:
addr = ['c:','user','hahsir','desktop','file.text']
"/".join(addr)

'c:/user/hahsir/desktop/file.text'

In [3]:
data = input("enter ur name, month and year of birth seperated by comma: ")
words = data.split(',')
print(words)
name = "_".join(words)
print(f'img_{name}.jpg')

['Alex', 'dec', '1990']
img_Alex_dec_1990.jpg

1. Create a string and print it.

In [8]:
name = str("This is great")
print(name)

This is great

2. Take a string input and print its length

In [9]:
words = input("enter a string")
print(len(words))

15

3. Print the last word of the string 'Python is great' using slices

In [11]:
name = 'Python is great'
lastname = name[10:15]
print(lastname)

great

4. Print the each word in different line of string 'python is everywhere'

In [15]:
name = 'python is everywhere'
firstname = name[:6]
print(firstname)
middlename = name[7:9]
print(middlename)
lastname = name[10:21]
print(lastname)

python
is
everywhere

5. Print the string 'Hello world!' in reverse

In [ ]:
word = str("Hello World!")

6. Convert the string 'How are you?' in uppercase

In [17]:
data = "How are you?"
data_upper = data.upper()
print(data_upper)

HOW ARE YOU?

7. Convert the string 'How Is It Going?' in lowercase

In [18]:
data = 'How Is It Going?'
data_lower = data.lower()
print(data_lower)

how is it going?

In [19]:
# count method
n = quote.count('before')
print(f'before occurs {n} times in the quote')

before occurs 3 times in the quote

In [20]:
quote.count('e')

13

In [21]:
'Mr Bean'.startswith('Mr')

True

In [22]:
'Me Bean'.startswith('Ms')

False

In [23]:
name = input('enter ur name')
if name.startswith('Mr'):
    print('Hello Sir')
else:
    print(f'Oye {name}')

This is a meeting of gentleman only

In [25]:
filename = input("enter filename")
if filename.endswith('.csv'):
    print("Dataset file")
elif filename.endswith('.txt'):
    print("Text file")
elif filename.endswith('.jpg'):
    print("Image file")
else:
    print("No extension provided")

No extension provided

In [27]:
#strip
movie = input('enter movie name:')
clean_movie = movie.strip()
print(movie)
print(clean_movie)
print(movie)
print(f'movie: {len(movie)}')
print(f'clean name: {len(clean_movie)}')

batman
batman
batman
movie: 6
clean name: 6

In [28]:
' hello '.strip()

'hello'

In [29]:
print('\n\n\nhello\n\n'.strip())

hello

In [1]:
print(',,,,,hello****'.strip(',*')) # removes all commas and stars from start and end

hello

23. Ask user to enter a string and check if the string contains 'fyi'

In [2]:
"fyi" in "fyihelloworld"

True

24. Remove all the special characters and numbers from the following string

In [3]:
from string import punctuation, digits
# print punctuation
text = '%p34@y!*-*!t68h#&on404'
for i in punctuation+digits:
    text = text.replace(i, '')
print(text)

python

25. Calculate the average word length of the following paragraph.

In [4]:
sentences = "this is a paragraph which is written just for the purpose of providing content to let the average word length be calculated"
total = 0
for word in sentences.split():
    total += len(word)
print(total/len(sentences.split()))

4.636363636363637